.color{
  
   background: #f12711; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f5af19, #f12711);/*  Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f5af19, #f12711);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


  

.me{
  display: flex;
  justify-items: center;
  height:200px; 
  border-radius: 50%;
   margin: 30px 40%;
  
  
  
  
}
.text {
  /* background-color: black;
  opacity: .8; */
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.nam{
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color:black;

}

.text h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: black;
}
/* .contact-body{
  justify-content: center;
} */
.fa{
  font-size: 40px;
  background-color: #f5af19;
}
.temp{
  display: flex;
  justify-content: center;
   background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  font-weight: bold;
  color: white;
}

.stor{
  font-size: 18px;
  
}

.resume{
  display: flex;
  justify-content: center;

}
.projects{
  display:flex;
}
